.fade-in-section {
 opacity: 0;
  transform: scale(0.7);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-section.is-visible {
 opacity: 1;
  transform: scale(1);
}
.map-container {
  width: 100%;
  height: 75vh; /* responsive height based on viewport */
  max-height: 700px; /* prevents it from getting too tall */
  min-height: 350px; /* ensures it isn’t too small */
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  justify-content: center;
  text-align: center;
  
}
